.firstpart{
    background-image: url(images/studland.jpg);
    color:white;
    padding:8rem 5rem;
    background-size: cover;
    font-size:1.5rem;
}
.menu, .desserts, .drinks{
    background-color:#8CC63F;
    color: white;

}
.contact{
    background-image: url(images/country.jpg);
    color:white;
    padding: 8rem 5rem;
    font-size: 1.5rem;
}
header{
    background-color: #FCB040;
    color:white;
    text-align: center;
    position: relative;
}
nav>a{
    color:white;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    margin:1rem;
}
.food{
    display:flex;
    background: #8CC63F;
    gap: 1rem;
}
.food div{
    width:30%;
}
header img{
    width:40%;
    max-width:20rem;
}

@media(min-width:960px){nav{
    position: absolute;
    left:0;
    top:calc(50% - 41px);
}}
section{border-bottom: 2rem solid #FCB040;}